{% extends 'base.html.twig' %}

{% block title %}Hello EmployerController!{% endblock %}

{% block body %}
<div class="content">
<h1>Vacatures</h1>
<p>Deze pagina bevat een lijst van alle vacatures die je gepubliceerd hebt.</p>
{% for vacancy in vacancies %}
{{ vacancy.name }}
{% endfor %}
</div>
{% endblock %}
