<h1>Je registratie bij Vac!T</h1>

<p>
	Leuk dat je je geregistreerd hebt bij Vac!T. Om gebruik te maken van je account en onze services, verzoeken we je om je e-mailadres te bevestigen middels de onderstaande link.
	<br><br>
	<a href="{{ signedUrl|raw }}">Bevestig mijn e-mailadres</a>.
		    Deze link is geldig voor:
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Tot ziens!
</p>
