{% extends 'base.html.twig' %}

{% block title %}Registratie voltooid!
{% endblock %}

{% block body %}
	<h1>Registratie voltooid!</h1>
	<p>Binnenkort ontvang je een bericht op het opgegeven e-mailadres met een link waarmee je je account kan activeren.
	Mocht je na een aantal minuten nog steeds niks ontvangen hebben, vergeet dan niet je spam- of reclamemap te controleren.
	De activatielink is slechts voor een beperkte tijd geldig, dus wacht niet te lang.
	Bij problemen of vragen, neem contact op met de site administrator: <a href="mailto:&#112;&#117;&#098;&#108;&#105;&#099;&#064;&#106;&#101;&#108;&#108;&#101;&#122;&#119;&#105;&#101;&#046;&#114;&#115;">&#112;&#117;&#098;&#108;&#105;&#099;&#064;&#106;&#101;&#108;&#108;&#101;&#122;&#119;&#105;&#101;&#046;&#114;&#115;</a>.</p>
{% endblock %}
