{% extends 'base.html.twig' %}

{% block title %}Hello EmployerController!
{% endblock %}

{% block body %}
	<style>
			#form {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		textarea {
			height: 8rem;
			border: 2px solid var(--orange);
			border-radius: .25rem;
		}

		label.required:after {
			content: "*";
			color: var(--orange);
		}

		input[type='text'], input[type='tel'], input[type=email], input[type=password], textarea {
			width: 100%;
		}
	</style>
	
	<div class="content">
		<h1>Vacature wijzigen</h1>

		{{ form(form) }}

		</div>
	{% endblock %}
