{% extends 'base.html.twig' %}

{% block title %}Hello EmployerController!
{% endblock %}

{% block body %}
	<div class="content">
		<h1>Vacature wijzigen</h1>

		{{ form(form) }}

		</div>
	{% endblock %}
