<style>
    .footer {
        display: flex;
        background-color: var(--gray);
        justify-content: space-between;
        padding: 2em;
        flex-wrap: wrap;
        gap: 1rem;
        box-sizing: border-box;

    }

    .footer__branding {
        height: 100%;
        max-height: 96px;
    }

    .footer__item-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .footer__item-list__block {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        box-sizing: border-box;

    }

    .footer__item-list__block__title {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }

    .footer__item-list__block__text {

    }
</style>

<div class="footer">
    <img class="footer__branding" src="/images/logo_alt.png" alt="Vac!T Logo">
    <div class="footer__item-list">
    <div class="footer__item-list__block">
        <span class="footer__item-list__block__title">Adres</span>
        <span class="footer__item-list__block__text">Poststraat 2-B, 6135 KR Sittard, Nederland</span>
    </div>
    <div class="footer__item-list__block">
        <span class="footer__item-list__block__title">Privacy</span>
        <span class="footer__item-list__block__text">Door deze site te gebruiken, gaat u akkoord.</span>
    </div>
    </div>
</div>